<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization producer</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container" >
    <div class="row justify-content-center" >
        <div class="col-sm-3" style="padding: 30px 20px 20px; border-radius:8px; background: #e3f2fd; margin-top: 40px" >
            <legend style="text-align: center; padding-bottom: 20px">Please sign up</legend>
            <form th:action="@{/producer/auth}" th:object="${oldProducer}" method="post">
                <div class="mb-3">
                    <input type="text" th:field="*{email}" class="form-control"  aria-describedby="emailHelp" required placeholder="Login">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div class="mb-3">
                    <input type="password" th:field="*{password}" class="form-control" aria-describedby="passwordHelp" required placeholder="Password">
                    <div id="passwordHelp" class="form-text" style="text-align: center">Do not share your password with anyone else</div>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-success" style="">Sign-up</button>
                </div>
            </form>
            <div th:if="${message != null}" class="alert alert-warning mt-3" role="alert">
                <p th:text="*{message}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>