<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Email</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3" style="padding: 30px 20px 20px; border-radius:8px; background: #e3f2fd; margin-top: 40px">
            <legend style="text-align: center; padding-bottom: 20px">Please enter new email</legend>
            <form th:action="@{/user/updEmail}" th:object="${userEmailDTO}" method="post">
                <input type="text" th:field="*{email}" class="form-control m-2" aria-describedby="emailHelp" required
                       placeholder="New email:">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-success m-3" style="">Submit</button>
                </div>
            </form>
            <div th:if="${messageEmail != null}" class="alert alert-warning mt-3" role="alert">
                <p th:text="*{messageEmail}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>