<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update number</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3" style="padding: 30px 20px 20px; border-radius:8px; background: #e3f2fd; margin-top: 40px">
            <legend style="text-align: center; padding-bottom: 20px">Please enter new name</legend>
            <form th:action="@{/user/updTel}" th:object="${numberTelDTO}" method="post">
                <input type="hidden" th:field="*{id}" th:attr="id = ${telId}">
                <input type="text" th:field="*{number}" class="form-control m-2" aria-describedby="emailHelp" required
                       placeholder="New number:">
                <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></p>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-success m-3" style="">Submit</button>
                </div>
            </form>
            <div th:if="${messageUpdNumber != null}" class="alert alert-warning" role="alert">
                <p th:text="*{messageUpdNumber}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>