<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3" style="padding: 30px 20px 20px; border-radius:8px; background: #e3f2fd; margin-top: 40px">
            <legend style="text-align: center; padding-bottom: 20px">Please enter new password</legend>
            <form th:action="@{/user/updPassword}" th:object="${userPasswordDTO}" method="post">
                <input type="text" th:field="*{oldPassword}" class="form-control m-2" aria-describedby="passwordHelp" required
                       placeholder="Enter old password:">
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
                <input type="text" th:field="*{newPassword}" class="form-control m-2" aria-describedby="passwordHelp" required
                       placeholder="Enter new password:">
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
                <input type="text" th:field="*{confirmNewPassword}" class="form-control m-2" aria-describedby="passwordHelp" required
                       placeholder="Reentry new password to confirm:">
                <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></p>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-success m-3" style="">Submit</button>
                </div>
            </form>
            <div th:if="${messagePassword != null}" class="alert alert-warning mt-3" role="alert">
                <p th:text="*{messagePassword}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>