<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update name</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3" style="padding: 30px 20px 20px; border-radius:8px; background: #e3f2fd; margin-top: 40px">
            <legend style="text-align: center; padding-bottom: 20px">Please enter new name</legend>
            <form th:action="@{/producer/updateName}" th:object="${producerName}" method="post">
                <input type="text" th:field="*{name}" class="form-control m-2" aria-describedby="emailHelp" required
                       placeholder="Name">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <button type="submit" class="btn btn-success m-3" style="">Submit</button>
            </form>
            <div th:if="${message != null}" class="alert alert-warning" role="alert">
                <p th:text="*{message}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>