<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Properties>
    <Property name="log-path">logging.log</Property>
</Properties>
<Appenders>
    <File name="File" fileName="logging.log" >
        <PatternLayout>
            <pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </pattern>
        </PatternLayout>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout>
            <pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </pattern>>
        </PatternLayout>
    </Console>

</Appenders>
<Loggers>
    <Logger name="logger"  level="debug"  additivity="false">
        <AppenderRef ref="File"  level="info"/>
        <AppenderRef ref="STDOUT" level="info"/>
    </Logger>
    <Root level="INFO">
        <AppenderRef ref="STDOUT"/>
        <AppenderRef ref="File"/>
    </Root>
</Loggers>
</Configuration>