<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update comment</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4 m5 bg-success p-2 text-dark bg-opacity-10 rounded">
            <legend style="text-align: center; padding-bottom: 20px">Please enter new description for product</legend>
            <form th:action="@{/comment/update}" th:object="${updatedComment}" method="post">
                <div class="form-floating">
                    <input type="hidden" name="id" th:value="${comId}">
                    <input type="text" th:field="*{description}" class="form-control m-2" aria-describedby="emailHelp"
                           required
                           placeholder="New comment:">
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-success mt-3" style="">Update comment</button>
                    </div>
                </div>
            </form>
            <div th:if="${message_update_com != null}" class="alert alert-warning mt-3" role="alert">
                <p th:text="*{message_update_com}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>